<div class="container-fluid min-vh-100 ps-0">
    <!--navbar-->
    <nav class="navbar navbar-expand-lg navbar-light bg-dark d-flex justify-content-between align-self-center">
        <!--logo-->
            <div class=" ">
                <a href=""><img class="logo-nav" src="logo-invp.png" alt="InventoryPro"></a>
            </div>
        <!--link to new account-->
            <div><a href="login" class="navbar-brand text-light">Login</a></div>
    </nav>
    
    
    <div class="row d-flex justify-content-center">
        <div class="col-6">
            <h3>Forgot My Password</h3>
        </div>
    </div>
</div>