<div class="container-fluid min-vh-100 p-0 m-0 mw-100">
    <!--navbar-->
    <nav class="navbar navbar-expand-lg navbar-light bg-dark d-flex justify-content-between align-self-center 2.100">
        <!--logo-->
            <div class=" ">
                <a href=""><img class="logo-nav" src="logo-invp.png" alt="InventoryPro"></a>
            </div>
        <!--link to new account-->
            <div><a href="login" class="navbar-brand text-light">Login</a></div>
    </nav>

<!--Form to change password-->
    <div class="row  justify-content-center align-items-enter">
        <div class="col-12 col-md-6">
        <!--title-->
            <div class="row mt-3">
                <div class="col-12 mb-3 text-center">
                    <h1 class="mt-2">Change the Password</h1>
                    <p class="mt-2">Write the new password and repeet the password</p>
                </div>
            </div>
        <!--Form new password-->
                <div class="row d-flex justify-content-center mt-5  mx-2 mx-md-0">
                    <div class="col-12 col-md-6">
                        <form #chPassForm="ngForm" (ngSubmit)="changePass(chPassForm)" class="mt-5">
                            <div class="row mt-5">
                                <div class="form-floating col-12 mb-3">
                                    <input type="{{textpass}}" name="pass" id="pass" placeholder="Password" class="form-control" ngModel>
                                    <label for="" class="ms-2">New Password</label>
                                </div>
                            </div>
                            <div class="row">
                                <div class="form-floating col-12 mb-3">
                                    <input type="{{textpass}}" name="reppass" id="reppass" placeholder="repeat Password" class="form-control" ngModel>
                                    <label for="" class="ms-2">Repeat the New Password</label>
                                </div>
                            </div>
                            <button class="btn btn-lg btn-primary w-100 mt-2" type="submit">Change Password</button>
                        </form>


            <!--See the password-->
                        <div class="form-switch mt-3 d-flex justify-content-center">
                            <input type="checkbox" class="form-check-input" id="seePass" (change)="viewPassFun($event)">
                            <label for="seePass" class="form-label ms-2">See the password</label>
                        </div>
                    </div>
                </div>
            </div>
        </div>
</div>


<!--others-->
<!--Toast errors-->
<div class="toast-container position-absolute p-3 top-0 end-0 mt-5">
    <div  [ngClass]="{'toast bg-danger text-white':true, 'show':(noSamePass)}" role="alert" area-live="assertive" aria-atomic="true">
        <div class="toast-header">
            <strong class="me-auto">Error</strong>
            <small></small>
            <button class="btn-close btn-close-white" type="button" aria-label="close" (click)="closeToast()"></button>
        </div>
        <div class="toast-body">
            {{toastMessageNewPass}}
        </div>
    </div>
</div>

<!--Toast successful-->
<div class="toast-container position-absolute p-3 top-0 end-0 mt-5">
    <div  [ngClass]="{'toast bg-success text-white':true, 'show':(samePass)}" role="alert" area-live="assertive" aria-atomic="true">
        <div class="toast-header">
            <strong class="me-auto">Error</strong>
            <small></small>
            <button class="btn-close btn-close-dark" type="button" aria-label="close" (click)="closeToast()"></button>
        </div>
        <div class="toast-body">
            {{toastMessageNewPass}}
        </div>
    </div>
</div>